{% extends "eStoreBlogBundle:Default:base.html.twig" %}

{% block title %}Product List{% endblock %}

{% block content %}
<table class = 'table table-hover'>
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Price
			</th>
			<th>
				Description
			</th>
		</tr>
	</thead>
	<tbody>
	{% for product in products %}
	<tr>
		<td>
			{{ product.name }}
		</td>
		<td>
			{{ product.price }}
		</td>
		<td>
			{{ product.description }}
		</td>
	</tr>
	{% endfor %}
</tbody>
</table>

{% endblock %}
